.back{
    
    background-image: url('detailss.jpg'); 
    height: 100vh;
    width: 100vw; 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;  
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
}

.megacard{
    background-color: rgba(100, 149, 213, 0.535);
    border-radius: 60px 60px 60px 60px;
    height: 600px;
    width: 1300px;
}

.image{
    float: left;
}

.title{
    text-align: center;
}