.landing {
    
  position: relative;
    height: 100vh;
    width: 100vw;background: rgb(22, 57, 104) url(landing.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: auto;
  }

  .title{
    font-family: 'Lobster', cursive;
    display: center;
    justify-content: center;
    align-items: center;
    /* justify-content: flex-start; */
    /* position: relative; */
    /* right: -50px; */
    font-size: 1000%; 
    color: rgb(255, 255, 255);
    /* background-color: rgba(240, 248, 255, 0.212); */
  } 

  .welcome{
    font-family: 'Lobster', cursive;
    display: center;
    justify-content: center;
    align-items: center;
    /* justify-content: flex-start; */
    /* position: relative; */
    /* right: -50px; */
    font-size: 400%; 
    color: rgb(233, 151, 0);
    background-color: rgba(240, 248, 255, 0.212);
    margin-top: 150%;
    border-radius: 1000px 1000px 1000px;
  } 