
.card {
    background-color: rgba(135, 183, 247, 0.22);
    border-radius: 10px 10px 70px 10px;
    height: 300px;
    width: 350px;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(255, 174, 0, 0.39) 0px -3px 5px; */
    
}

.card:hover{
    transform: translateY(-9px);
    background-color:rgba(245, 245, 245, 0.433);
}

.title{
    font-family: 'Lobster', cursive;
    display: flex;
    justify-content: flex-start;
    position: static;
    /* right: -50px; */
    font-size: 150%;
    color: rgb(255, 202, 26); 
}
.diets {
    display: flex;
    /* text-align: justify; */
    flex-direction: column;
    /* float: left; */
    color: rgb(247, 209, 87); 

}

.image{
    float: right;
    margin-right: 10px;
    border-radius: 10px;
}

.words{
    margin-left: 5px;
    font-family: 'Lobster', cursive;
    font-size: 120%;
    color: rgb(247, 166, 66);
}